.homeDiv {
  position: absolute;
  width: 100%;
  top: 40%;
}

.Get_started_btn {
  color: white;
  cursor: pointer;
  background: #7ecb20;
  padding: 10px;
  margin-top: 30px;
  border-radius: 20px;
  outline: none;
  border: #7ecb20;
}
